:root {
  --color-green: #0B6623;
  --color-red: #C1121F;
  --color-gold: #D4AF37;
  --color-silver: #C0C0C0;
  --color-blue: #A7D3F2;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  max-width: 2000px;
  height: 100svh;
  overflow: hidden;
  margin: 0 auto;
  font-family: "PT Serif", serif;
}

header {
  height: 20svh;
}

h1 {
  color: var(--color-red);
  text-transform: uppercase;
  padding: 1rem;
  border-bottom: solid 2px var(--color-gold);
  letter-spacing: 0.5rem;
}

main {
  height: 70svh;
  display: flex;
  position: relative;
}

.roulette__container {
  height: 100%;
  width: 50%;
}

.number__container {
  height: 70%;
}

.santa {
  position: absolute;
  transform: translateX(-50%);
  left: -10%;
}

.move_to_right {
  transition: linear 3s;
  left: 120%;
}

.button__container {
  height: 30%;
}

h2 {
  z-index: 1;
}

button {
  background-color: var(--color-red);
  border: none;
  color: white;
  padding: 1rem 5rem;
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
}

footer {
  height: 10svh;
}

h3 {
  background-color: var(--color-green);
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
}