:root {
  --color-green: #0B6623;
  --color-red: #C1121F;
  --color-gold: #D4AF37;
  --color-silver: #C0C0C0;
  --color-blue: #A7D3F2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  position: relative;
  max-width: 2000px;
  height: 100svh;
  margin: 0 auto;
  font-family: "PT Serif", serif;
  overflow-x: hidden;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
}

header {
  height: 20%;
}

h1 {
  color: var(--color-red);
  text-transform: uppercase;
  padding: 1rem;
  border-bottom: solid 2px var(--color-gold);
  letter-spacing: 0.5rem;
}

#main_container {
  height: 70%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.roulette__container {
  height: 100%;
  width: 50%;
}

.number__container {
  height: 60%;
}

.santa {
  position: absolute;
  transform: translateX(-50%);
  left: -50%;
  height: 60%;
  width: auto;
}

.move_to_right {
  transition: linear 3s;
  left: 120%;
}

.button__container {
  height: 40%;
}

.button__clear {
  background-color: var(--color-green);
  border: solid 0.25rem var(--color-gold);
  opacity: 1;
}

h2 {
  z-index: 1;
  color: var(--color-gold);
  font-size: 4rem;
}

button {
  transition: opacity ease-in-out 0.3s;
  background-color: var(--color-red);
  border: none;
  color: white;
  padding: 1rem 5rem;
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
  opacity: 0.5;
}

footer {
  height: 10%;
}

h4 {
  background-color: var(--color-green);
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
}

.game-over__screen {
  position: absolute;
  transform: translate(-50% -50%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c0c0c08e;
  z-index: 100;
  display: none;
}

.game-over__screen__inner__container {
  width: 70%;
  height: 50%;
  flex-direction: column;
  background-color: var(--color-blue);
  border: solid 0.25rem var(--color-red);
  border-radius: 1rem;
}

.game-over__screen--on {
  display: flex;
}